body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  flex-wrap: wrap;

}
.app{
  background-color: #1a1a1a;
  color: aliceblue;
  border: 5px  solid #25D366;
  display: flex;
  width: 180vh;
  height: 95vh;

}
.container {
  display: flex;
  flex: 2;
  width: 100%;
}
 
.message-container {
display: flex;
width: 100%;
margin-bottom: 8px;
}
.yourself{
color: #FFFFFF8c;
font-size: 9px;
display: flex;
margin-bottom: -18px;
margin-top: -9px;
}
.handleYourself{
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.date {
  font-size: 9px;
  display: flex;
  margin-top: -15px;
  color: #757575;
  }
.time-message {
  font-size: 8px;
  height: 25px;
  display: flex;
    float: right;
    color: var(--bubble-meta);
    line-height: 37px;
    margin-left: 10px;
    padding: 4px;
}
.right {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.lasTime{
  display: flex;
 flex-direction: column;
}
.handle-lastMessage{
  display: flex;
  width: 100%;
  background-color: #1a1a1a;
  height: 60px;
  padding: 5px 0;
  align-items: center;
}
.handle-lastMessages{
  display: flex;
}
.handleSpace{
  display: flex;
  margin-top: 4px;
}
.last-messageTime-seen{
  font-size: 6px;
  display: flex;
  margin-top: 2.5px;
  color: #757575;
}
.last-messageTime{
  font-size: 6px;
  display: flex;
  padding-left: 140px;
  padding-right: 5px;
  margin-top: 21px;
}
.last-message{
  font-size: 11px;
  display: flex;
  margin-top: -10px;
  color: #FFFFFF8c;
}

.space-betweenEdit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-right: 45px;
}
.span-photo:hover{
  cursor: pointer;
}
.span-photo{
  font-size: 13px;
  padding-left: 8px;
}
.background{
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.span{
    color: #128C7E;
    position: absolute;
    top: 0;
    z-index: 100;
    display: block;
    width: 8px;
    height: 13px;
}
.padding-text{
  padding: 6px 7px 8px 9px;
}
.message-text{
font-size: 14.2px;
margin-left: 10px;
}
.message-photo {
 width: 150px;
 height: 160px;
 margin: 5px;
 border-radius: 5px;
 object-fit: cover;
}
.post-photo{
  width: 200px;
  height: 210px;
  border-radius: 5px;
  object-fit: cover;
}
.m{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.user1 {
  background-color: #128C7E;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 1px 0.5px rgba(var(--shadow-rgb),.13);
  border-top-right-radius: 0;
  border-radius: 7.5px;
  z-index: 200;
}

.user{
  display: flex;
  flex-direction: row-reverse;
}
.user2 {
background-color: #0d0d0d;
display: flex;
align-items: flex-end;
box-shadow: 0 1px 0.5px rgba(var(--shadow-rgb),.13);
border-top-right-radius: 0;
border-radius: 7.5px;
z-index: 200;
}
.online {
  color: rgb(0, 153, 51);
}
.online-nav {
  color: rgb(0, 153, 51);
  font-size: 9px;
}
.user-name {
display: flex;
font-size: 16px;
}
.messageYourself{
  color: #757575;
  font-size: 8px;
  padding-left: 5px;
  margin-top: 18px;
}
.flex-grow{
  display: inline-block;
    flex-direction: row;
}
.profile-chat{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-right: 10px;
  object-fit: cover;
}
.profile {
  height: 50px;
  width: 55px;
  border-radius: 50px;
  margin-right: 10px;
  object-fit: cover;
}
.seen {
   color: blue;
  ;
}
.seenProfile{
  height: 35px;
  width: 40px;
  border-radius: 50px;
  margin-right: 10px;
  margin-bottom: -10px;
  object-fit: cover;
}
.profile-status {
  height: 50px;
  width: 55px;
  border-radius: 50px;
  margin-right: 10px;
  margin-bottom: -10px;
  object-fit: cover;
}
.users {
  display: flex;
  align-items: center;
margin-left: 8px;
  font-size: 19px;
}
.profile-nav {
  height: 25px;
  width: 29px;
  border-radius: 50px;
}
.log-profile{
display: inline-flex;
padding-bottom: 10px;
}
.margin{
  margin-left: 3px;
  display: flex;
}
.pen-profile {
font-size: 20px;
display: flex;
color: #25D366;
position: relative;
margin-top: 18px;
width: 60px;
margin-left: 8px;
}
.pen-profile:hover{
  font-size: 30px;
  color: #25D366;
  cursor: pointer;
}
.profile-change{
  height: 65px;
  width: 69px;
  border-radius: 50px;
}
.changeProfile{
  display: flex;
  margin-right: 30px;
}
.user-div {
  display: flex;
  margin-bottom: 10px;
  margin-left: 5px;
}
.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.textarea{
border-radius: 7px;
height: 60px;
width: 200px;
}
.my-status{
  margin-bottom: -5px;
  margin-top: 11px;
}
.type {
  display: flex;
  align-items: center;
background-color: #0d0d0d;
}
.mind{
  font-size: 17px;
  padding-bottom: 10px;
}
.links {
  text-decoration: none;
  color: #FFFFFF8c;
  cursor: pointer;
}
.addStatus {
  display: flex;
}
.addImage {
  margin: 10px;
  padding: 8px;
  font-size: 25px;
}
.yourMessage{
  height: 30px;
  padding: 5px;
  background-color: #0d0d0d;
  width: 100%;
  border: none;
  color: aliceblue;
}
.yourMessage:hover {
  background-color: #1a1a1a;
color: #128C7E;
}
.div-send {
  display: flex;
}
.div-sendMessage {
  display: flex;
  width: 100%;
  margin-right: 20px;
}
.btn-send {
  border-radius: 80px;
  margin-top: 10px;
  margin-left: -28px;
  font-size: 25px;
  color: #128C7E;
}
.loginContainer {
display: flex;
flex-direction: column;
  }
  .loginData {
    padding: 10px 0;
  }
  .loginEmail {
    height: 45px;
    width: 300px;
    display: flex;
    padding-left: 10px;
  }
  .SKIP:hover{
    cursor: pointer;
    box-shadow: 0 -5px 0 #25D366;
  }
  .LOGIN:hover {
    cursor: pointer;
    box-shadow: 0 -5px 0 #25D366;
  }
  .SKIP{
    transition: background-color 0.3s, box-shadow 1.3s;
    border: none;
    border-radius: 10px;
    box-shadow: 0 -5px 0 rgba(238, 15, 15, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #757575;
    background-color: white;
    width: 75px;
    font-size: 16px;  
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  .aboutYou{
    font-size: 15px;
  }
  .space-between{
   margin: 18px 0;
  }
.LOGIN {
  transition: background-color 0.3s, box-shadow 1.3s;
  border: none;
  border-radius: 10px;
  box-shadow: 0 -5px 0 rgba(238, 15, 15, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-weight: 500;
  background-color: white;
  width: 175px;
  font-size: 26px;  
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LOGINDivs{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.LOGINDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
  .loginPassword {
    height: 45px;
    width: 300px;
    display: flex;
    padding-left: 10px;
  }
.login{
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
}
.btn-send:hover {
cursor: pointer;
background-color: #0d0d0d;
color: #128C7E;
}
.addAvatar{
  display: flex;
  min-height: 484px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addprofile {
font-size: 50px;
margin-right: 8px;
}
.conversation {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  overflow-y:scroll; 
  overflow-x: hidden;
}
.addAnAvatar:hover{
cursor: pointer;
}
.handle-avatar{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addImage:hover {
  cursor: pointer;
  color: #128C7E;
  background-color: #0d0d0d;
}
.push-message{
  padding-top: 100px;
}
.linko{
  cursor: pointer;
}
.chat-div {
  width: 100%;
  display: flex;
  padding: 10px  5px;
  padding-bottom: 15px;
}
.user-div:hover {
  cursor: pointer;
}
.allUsers {
  padding: 15px 0;
  margin-left: -30px;
}
.online-div {
  display: flex;
  padding: 16px 5px;
}
.offline {
  color: rgb(255, 0, 0);
}
.search {
  width: 100%;
}
.search-USER {
  height: 25px;
  color: aliceblue;
  border: none;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 35px;
  font-size: 11px;
  border-radius: 8px;
    background-color: #001a00;
padding-left: 10px;
}
.search-USERS {
  height: 25px;
  color: aliceblue;
  border: none;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 35px;
  font-size: 11px;
  border-radius: 8px;
    background-color: #1a1a1a;
padding-left: 10px;
}
.search-icon{
  color: #757575;
  font-size: 13px;
  height: 25px;
  margin-top: 4px;
  margin-left: -18px;
}
.done-change:hover {
 cursor: pointer;
  background-color: #25D366;
}
.addStatus-div {
display: flex;
justify-content: center;
align-items: center;
font-size: 10px;
flex-direction: column;
width: 100%;
}
.seenBy{
margin-top: 15px;
}
.viewLength{
  display: flex;
align-items: center;
justify-content: center;
}
.numberViews {
  color: #757575;
  font-size: 13px;
  margin-left:6px;
  margin-top: 8px;
}
.AiFillEye {
font-size: 25px;
}
.seenName{
  font-size: 12px;
  margin-right: 20px;
}
.handleSeen{
  display: flex;
  margin-top: -1px;
  align-items: center;
}
.addStatusDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 25px;
}
.position-post {
  display: flex;
  align-items: center;
justify-content: center;
}
.done-change{
 margin-left: 5px;
color: aliceblue;
background-color: #0d0d0d;
border-radius: 5px;
}

.input {
  display: flex;
  margin-right: 15px;
}
.hr{
  color: #a9a6a68c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7px 0; 
  margin-top: 17px ;
  margin-right: 15px;
}
.search-btn:hover {
  cursor: pointer;
  color: #FFFFFF8c;
  background-color: #1a1a1a;
}
.line {
  border-style: solid;
color: #1a1a1a;
}

.link {
  text-decoration: none;
  color: aliceblue;
}
.status-div{
display: flex;
justify-items: center;
align-items: center;
}
.name-time {
  display: inline-block;
}
.name-times{
  display: inline-block;
margin-top: -10px;}
.status-name {
  font-size: 13px;
  margin-bottom: 17px;
}
.user-status {
  font-size: 13px;
  padding-top: 5px;
}
.You {
  font-size: 8px;
  color: #757575;
  margin-top: 12px;
  margin-left: 6px;
}

.ifYou {
  display: flex;
  align-items: center;
}
.noViews{
  color: #757575;
  margin-top: 25px;
  font-size: 13px;
}
.style-status {
  border: 3px solid black;
  padding: 50px;
}
.flex{
  display: flex;
  padding-bottom: 5px;
}
.findFriends{
  padding-left: 10px;
  font-size: 14px;
  color: #FFFFFF8c;
  padding-top: 10px;
}
.time-status {
  display: flex;
margin-top: -10px;
padding-bottom: 15px;
font-size: 9px;
  color: #FFFFFF8c;
  
}
.seeStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.handle-status {
  display: flex;
}
.add-status {
  font-size: 5px;
  display: flex;
  flex-direction: column;
}

.pad-bottom{
  padding-left: 15px;
}
.statusH1 {
  font-size: 18px;
  display: flex;
}
.statusH2 {
padding-left: 6px;
  font-size: 14px;
  color: #FFFFFF8c;
}
.postStatus {
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
.postStatus:hover {
  color: #128C7E;
  cursor: pointer;
  background-color: #25D366;
}
.edit-div{
  padding-left: 50px;
  padding-top: 20px;
}

.logout {
  color:  #25D366;
font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userName {
  display: flex;
}
.pen:hover {
  cursor: pointer;
  color: #25D366;
}
.pen {
padding-top: 17px;
font-size: 18px;
padding-left: 12px;
}
.logout:hover {
  color: #128C7E;
  cursor: pointer;
  border-radius: 10px;
  background-color: #25D366;
}
.space{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.addPhoto {
  display: flex;
  font-size: 30px;
}
.spanPhoto {
  font-size: 12px;
  padding-top: 5.5px;
  padding-left: 5px;
}
.tapForPhoto:hover{
cursor: pointer;
}
.spanPhoto:hover {
  color: #128C7E;
  border-radius: 10px;
  background-color: #25D366;
}
.tapForPhoto {
display: flex;
padding: 15px 0px;
}
.nav-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin:  5px 0;
}
.BsChatQuote{
  padding: 10px 0px;
}
.whatsapp {
  display: flex;
  font-size: 25px;
  color: #25D366;
  padding-left: 15px;
  margin-top: -5px;
}

.BsChatQuote:hover{
  color: #001a00;
  cursor: pointer;
}
.chat-header {
  display: flex;
  background-color: #0d0d0d;
 padding: 10px;
}
.fix-status {
  position: fixed; 
}
.padding{
  padding-top: 60px;
}
.color:hover {
  background-color: #1a1a1a;
}
.colors:hover {
  background-color: #1a1a1a;
}
.colors {
  display: flex;
}
.nav-bar {
display: flex;
height: auto;
width: 100%;
height: 95vh;
}
.nav-fixed {
  display: flex;
 margin:  5px;
 color: #001a00;
}
.nav-flex{
  display: flex;
  flex: 0.01;
  background-color: #25D366;
}
.chats-flex{
  display: flex;
  flex: 0.6;
  background-color: #0d0d0d;
}
.users-div{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.allFriend{
  display: flex;
  justify-content: space-between;
}
.GiThreeFriends{
  margin-right: 25px;
  margin-top: 16px;
}
.friends{
  font-size: 16px;
  display: flex;
  align-items: center;
}
.allRegistered{
  display: flex;
  width: 100%;
justify-content: center;
}
.GiThreeFriends:hover{
  cursor: pointer;
  background-color: #25D366;
  color: black;
  border-radius: 6px;
}
.search-div{
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-div{
  font-size: 10px;
  display: flex;
  min-height: 484px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
.allStatus{
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
margin-left: 9px;
}